@{
    ViewBag.Title = "View Statistics";
}

<h2>@ViewBag.Title</h2>
<div ng-controller="StatisticController">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills">
                <li role="presentation">
                    <a href="javascript:void(0)" ng-click="viewChart('rider')">View Total Riders Chart</a>
                </li>
                <li role="presentation">
                    <a href="javascript:void(0)" ng-click="viewChart('interest')">View Interest Flagging Usage Chart</a>
                </li>
                <li role="presentation" ng-show="false">
                    <a href="javascript:void(0)" ng-click="viewChart('route')">View Routes Chart</a>
                </li>
            </ul>
        </div>
        <div class="col-md-7" style="padding-left: 0px;">
            <div ng-show="chartType == 'rider'">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                                Day
                            </th>
                            <th>
                                Cab Code
                            </th>
                            <th>
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="activity in cabTable">
                            <td class="pointer">{{ $index + 1 }}</td>
                            <td class="pointer">{{ daysOfWeek[activity.DayOfWeek] }}</td>
                            <td class="pointer">{{ activity.CabCode }}</td>
                            <td class="pointer">{{ activity.Capacity }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="chartType == 'interest'">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                                Day
                            </th>
                            <th>
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="activity in cabTable">
                            <td class="pointer">{{ $index + 1 }}</td>
                            <td class="pointer">{{ daysOfWeek[activity.DayOfWeek] }}</td>
                            <td class="pointer">{{ activity.Total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="chart-div">

            </div>
        </div>
        <div class="col-md-3" style="padding-left: 0px;">
            <div class="panel panel-default" ng-show="chartType != ''">
                <!-- Default panel contents -->
                <div class=" panel-heading" ng-show="chartType != ''">Parameter</div>
                <div class="panel-body" ng-show="charttype != ''">
                    <div id=" rider-parameter" ng-show="chartType == 'rider' || chartType == 'interest'">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="col-lg-12 control-label">Weekending</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="weekending" type="date" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-default" ng-click="viewChart(chartType)">Refresh</button>
                                </div>
                                <div class="col-sm-8">
                                    <button type="button" class="btn btn-default" ng-click="clearParameters()">Clear</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="rider-parameter" ng-show="chartType == 'cab'">
                        @using (Html.BeginForm(new { @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <label class="col-lg-12 control-label">Starting Period</label>
                                </div>
                                <div class="col-sm-4">
                                    <select>
                                        <option value="">Month</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select>
                                        <option value="">Year</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-default" ng-click="refreshChart('cab')">Refresh</button>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-default" ng-click="clearParameters()">Clear</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="rider-parameter" ng-show="chartType == 'route'">
                        @using (Html.BeginForm(new { @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <label class="col-lg-12 control-label">Starting Period</label>
                                </div>
                                <div class="col-sm-4">
                                    <select>
                                        <option value="">Month</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select>
                                        <option value="">Year</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-default" ng-click="refreshChart('route')">Refresh</button>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-default" ng-click="clearParameters()">Clear</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ViewScripts
{
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        'use strict';
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(function () {
            // angular.bootstrap(document.body, ['CometCabs']);
        });

        angular.module('CometCabs', [])
            .controller('StatisticController', function ($scope, $http, $sce, $compile) {
                $scope.chartType = '';
                $scope.weekending = new Date();
                $scope.chartTable = [];
                $scope.daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', ];

                $scope.viewChart = function (param) {
                    $scope.chartType = param;
                    var url = '/Statistics/ViewCharts?key=' + param;

                    if (param === 'rider') {
                        var week = $scope.weekending.getMonth() + 1 + '/' + $scope.weekending.getDate() + '/' + $scope.weekending.getFullYear();

                        url = '/Statistics/ViewTotalRider?week=' + week;
                    } else if (param === 'interest') {
                        var week = $scope.weekending.getMonth() + 1 + '/' + $scope.weekending.getDate() + '/' + $scope.weekending.getFullYear();

                        url = '/Statistics/ViewTotalInterests?week=' + week;
                    }

                    $http({ method: 'GET', url: url })
                    .success(function (data) {
                        if (data != undefined) {
                            var cabs = data["Cabs"];
                            var routes = ["Routes"];

                            angular.forEach(data, function (item, index) {
                                console.log(item);
                                if (item != undefined) {
                                    switch (index) {
                                        case "TotalRiderByCab":
                                            var datasorce = new google.visualization.DataTable();
                                            $scope.cabTable = item;
                                            datasorce.addColumn('string', 'Cabs')

                                            angular.forEach(cabs, function (cab, index) {
                                                datasorce.addColumn('number', cab);
                                            });

                                            var rows = [];

                                            angular.forEach($scope.daysOfWeek, function (day, index) {
                                                var row = [day];
                                                var dayOfWeek = index

                                                angular.forEach(cabs, function (cab, index) {
                                                    var capacity = 0

                                                    angular.forEach(item, function (datarow, index) {
                                                        if ((datarow.DayOfWeek == dayOfWeek) && (datarow.CabCode == cab)) {
                                                            capacity = datarow.Capacity;
                                                        }
                                                    });

                                                    row.push(capacity);
                                                });

                                                rows.push(row);
                                            });

                                            datasorce.addRows(rows);

                                            var options = {
                                                title: 'Total Rider By Cab'
                                            };
                                            var chart = new google.visualization.LineChart(document.getElementById('chart-div'));
                                            chart.draw(datasorce, options);

                                            break;

                                        case "TotalInterests":
                                            var datasorce = new google.visualization.DataTable();
                                            $scope.cabTable = item;
                                            datasorce.addColumn('string', 'Interests')
                                            datasorce.addColumn('number', 'Number of Interest');

                                            var rows = [];

                                            angular.forEach($scope.daysOfWeek, function (day, index) {
                                                var row = [day];
                                                var dayOfWeek = index
                                                var capacity = 0

                                                angular.forEach(item, function (datarow, index) {
                                                    if (datarow.DayOfWeek == dayOfWeek) {
                                                        capacity = datarow.Total;
                                                    }
                                                });

                                                row.push(capacity);
                                                rows.push(row);
                                            });

                                            datasorce.addRows(rows);

                                            var options = {
                                                title: 'Total Number of Interests'
                                            };
                                            var chart = new google.visualization.LineChart(document.getElementById('chart-div'));
                                            chart.draw(datasorce, options);

                                            break;
                                        case "TotalRiderByRoute":
                                            break;
                                    };
                                }
                            });
                        }
                    })
                        .error(function (data, status, headers, config) {
                            // called asynchronously if an error occurs
                            // or server returns response with an error status.
                            alert(data + ' ' + status + ' ' + headers + ' ' + config);
                        });
                };

                $scope.refreshChart = function (param) {
                    return;
                };

                $scope.clearParameters = function () {
                    return;
                };
            });
    </script>
}
