<ion-view view-title="Driver Status" name="driver-view">
	<ion-nav-buttons side="right">
		<button id="logoutButton" class="button button-clear icon ion-log-out" ng-click="logout()">
			Logout
		</button>
	</ion-nav-buttons>

	 <div id="map" data-tap-disabled="true"></div>

	<br><br>
	<div class="row">
		<div class="col">
			<div class="container4">
				<p>Passengers: 3</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="container4">
				<p>Status: Open</p>
			</div>
		</div>
	</div>
	<div id="box">
		Cab is in motion!
	</div>
	<div id="screen"></div>
	
</ion-view>