<ion-view view-title="Comet Cabs Driver" name="login-view">
	<ion-content class="padding">
        <div>
			<div class="item item-input item-select">
				<span class="input-label">
					Username
				</span>
				<select id ="username">
				</select>
			</div>
		</div>
		<div>
			<div class="item item-input item-select">
				<span class="input-label">
					Route ID
				</span>
				<select id ="dd1">
				</select>
			</div>
		</div>
		<div>
			<div class="item item-input item-select">
				<span class="input-label">
					Cab ID
				</span>
				<select id="dd2">
				</select>
			</div>
		</div>
        <div class="list list-inset">
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-model="data.password">
			</label>
		</div>
      <button class="button button-block button-dark" ng-click="login()">Login</button>
  </ion-content>
</ion-view>