<ion-view view-title="Comet Cabs Driver" name="login-view">
	<ion-content class="padding">
        <div>
			<label class="item item-input item-select">
				<div class="input-label">
					Username
				</div>
				<select id ="username" ng-model="usernameSelect" ng-options="obj.UserId as obj.UserName for obj in allUsers">
				</select>
			</label>
      </div>
		<div>
			<label class="item item-input item-select">
				<div class="input-label">
					Route ID
				</div>
				<select id ="dd1" ng-model="RouteIDSelect" ng-options="obj.RouteId as obj.RouteName for obj in allRoutes">
				</select>
			</label>
      </div>
	  <div>
			<label class="item item-input item-select">
				<div class="input-label">
					Cab ID
				</div>
				<select id="dd2" ng-model="CabIDSelect" ng-options="obj.CabId as obj.CabCode for obj in allCabs">
				</select>
			</label>
      </div>
        <div class="list list-inset">
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-model="data.password">
			</label>
		</div>
      <button class="button button-block button-dark" ng-click="login()">Login</button>
  </ion-content>
</ion-view>